# yaml-language-server: $schema=https://raw.githubusercontent.com/HeZeBang/keybearer/refs/heads/master/config.schema.json

schemaVersion: 1

profiles:
  default:
    name: "default"
    providerKind: openai-compatible
    apiKey: sk-xxx
    baseUrl: https://api.deepseek.com/v1
    apps:
      # - codex
      - opencode
      # - claudeCode
    appConfig:
      # codex:
      #   model: gpt-5.5
      #   reasoningEffort: high
      #   disableResponseStorage: true
      opencode:
        models:
          deepseek-v4-flash:
            name: "Deepseek V4 Flash"
      # claudeCode:
      #   model: claude-sonnet-4-20250514
      #   haikuModel: claude-haiku-4-5-20251001
      #   sonnetModel: claude-sonnet-4-20250514
      #   opusModel: claude-opus-4-20250115
    meta: {}

defaults:
  codex: profile-id
  opencode: default
  claudeCode: profile-id
